// Shrink the site title text size in the sidebar
.site-title {
  font-size: 15px !important; // Default is usually around 18px-24px
  font-weight: bold !important;
  margin-top:10px !important;
  margin-bottom:10px !important;
}
